
$blue: #32AB9A;
$yellow: #FFEA80;
$orange: #F49548;
$red: #BE0000;
$green: #6CB24A;
$cyan: #3697cd;
$font-size-base: 0.8125rem;
$nav-tabs-border-radius: 0;
$nav-divider-color: $primary;
$nav-tabs-border-width: 0;
$nav-tabs-border-color: ;