<!doctype html>
<html lang="en">
<head>
    <title>Package Manager and Custom Tables</title>
    <meta charset="[[++modx_charset]]" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
    <link rel="stylesheet" href="css/bootstrap-4.5.0.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
    
    <div v-cloak id="app">
        <div class="alerts-wrapper">
            <transition-group name="slide-fade">
                <div v-for="(alert, index) in alerts" class="alert" :class="'alert-' + alert.type"
                     :key="alert.id" role="alert">
                    {{ alert.message }}
                    <button type="button" class="close" aria-label="Close" @click="removeAlert(index)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </transition-group>
        </div>

        <div id="modx-action-buttons">
			<button type="button" class="btn btn-md"
				:class="{'btn-light': form != 'packageList', 
						'btn-primary': form == 'packageList', border: form != 'packageList'}" 
				@click="navigate('list', 'grvPackage')"
				v-show="model != 'grvPackage'">
                Back to Packages
			</button>
            
            <button type="button" class="btn btn-md btn-primary"
                        @click="navigate('create', model)"
                        v-if="view == 'table'">
                New {{ objectMeta[model].label_singular }}
			</button>
			
			<button type="button" class="btn btn-md btn-secondary"
				onclick="$('#import_schema_modal').modal('show')"
				v-show="form == 'packageList'">
                Import Schema
			</button>

            <button type="button" class="btn btn-md btn-primary" 
                    @click="navigate('list', model)"
                    v-if="view == 'form'">
                Back to {{ objectMeta[model].label_list }}
            </button>
        </div>

        <div class="container-fluid" style="margin-top: 26px;">

            <h2 style="padding-left: 5px; padding-bottom: 8px;">
                Manage Packages and Tables
            </h2>

            <ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: model=='grvPackage' && form=='packageList'}"
						@click="navigate('list', 'grvPackage')">
						Packages
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='updatePackage'}"
						v-show="packageSelected || mode == 'create' && model == 'grvPackage'"
						@click="navigate('update', 'grvPackage')">
						{{ packageTabLabel }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='packageUtils'}"
						v-show="packageSelected"
						@click="navigate('preview', 'grvPackage')">
						Preview & Build
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: model=='grvObject' && form=='objectList'}"
						v-show="packageSelected"
						@click="navigate('list', 'grvObject')">
						Objects
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='updateObject'}"
						v-show="objectSelected"
						@click="navigate('update', 'grvObject')">
						{{ objectTabLabel }}
					</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='fieldList'}"
						v-show="objectSelected"
						@click="navigate('list', 'grvField')">
						Fields
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='updateField'}"
						v-show="fieldSelected"
						@click="navigate('update', 'grvField')">
						{{ fieldTabLabel }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='relList'}"
						v-show="objectSelected"
						@click="navigate('list', 'grvRel')">
						Relations
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='updateRelation'}"
						v-show="relSelected"
						@click="navigate('update', 'grvRel')">
						{{ relTabLabel }}
					</a>
				</li>
            </ul>
            <div class="panel-wrapper shadow-sm">

                <div v-if="model == 'grvPackage'">
                    <div class="list-mode" v-if="view=='table' && form=='packageList'">

                        <table class="table table-striped">

                            <thead>
                                <tr class="table-secondary">
                                    <th>ID</th>
                                    <th>Package Name</th>
                                    <th>Package key</th>
                                    <th>Base Class</th>
                                    <th>Platform</th>
                                    <th>Engine</th>
                                    <th>PHPDoc Package</th>
                                    <th>PHPDoc Subpackage</th>
                                    <th>Version</th>
                                    <th>Sort Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="items.length === 0 && dataLoaded">
                                    <td colspan="99">
                                        Add a new Package/Custom Table Entry
                                    </td>
                                </tr>
                                <tr style="cursor: pointer;" v-for="item in sortedItems" 
                                    @click="navigate('update', 'grvPackage', item)">
                                    <td v-for="key in objectMeta[model].listColumns">
										{{ item[key] }}
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="form-wrapper" v-show="view=='form' && form=='updatePackage'">
						<form style="max-width: 1000px;">

							<!-- <div class="form-row"> -->
								<div class="form-group">
									<label for="core-path">Package Path (Dynamic Variables: {core_path} or {base_path} and {package_key} )</label>
									<input type="text" class="form-control" id="core-path"
										v-model="package.core_path">
								</div>
								<div class="form-group">
									<label for="assets-path">Assets Path (Dynamic Variables: {core_path}, {base_path}, {assets_path} and {package_key} )</label>
									<input type="text" class="form-control" id="assets-path"
										v-model="package.assets_path">
								</div>
							<!-- </div> -->

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="package-name">Package Name (Display value, just for readability)</label>
									<input type="text" class="form-control" id="package-name"
										placeholder="Package display name"
										v-model="package.display">
								</div>
								<div class="form-group col-md-6">
									<label for="package_key">Package key</label>
									<input type="text" class="form-control" id="package_key" 
										placeholder="Lowercase package key"
										v-model="package.package_key">
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="base_class">Base Class</label>
									<input type="text" class="form-control" id="base_class"
										v-model="package.base_class">
								</div>
								<div class="form-group col-md-6">
									<label for="platform">Platform</label>
									<input type="text" class="form-control" id="platform"
										v-model="package.platform">
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="default_engine">Default Engine</label>
									<input type="text" class="form-control" id="default_engine"
										v-model="package.default_engine">
								</div>
								<div class="form-group col-md-6">
									<label for="phpdoc_package">PHPDoc Package</label>
									<input type="text" class="form-control" id="phpdoc_package"
										v-model="package.phpdoc_package">
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="phpdoc_subpackage">PHPDoc Subpackage</label>
									<input type="text" class="form-control" id="phpdoc_subpackage"
										v-model="package.phpdoc_subpackage">
								</div>
								<div class="form-group col-md-6">
									<label for="version">Version</label>
									<input type="text" class="form-control" id="version"
										v-model="package.version">
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="sortorder">Sort Order</label>
									<input type="text" class="form-control"
										v-model="package.sortorder">
								</div>
							</div>

						</form>

						<button class="btn btn-primary" @click='saveModel()'>
							Save
						</button>
						<button class="btn btn-default border" @click='saveModel(true)'>
							Save &amp; Back to List
						</button>
						<button class="btn btn-warning border" @click="navigate('list','grvPackage')">
							Cancel
						</button>
						<button class="btn btn-danger float-right" onclick="$('#delete_package_modal').modal('show')">
                            DELETE
                        </button>
					</div>

					<div id="package-utilities" v-show="view=='form' && form=='packageUtils'">
						<div class="btn-group-sm mb-3" role="group" aria-label="Schema Actions">
							<button class="btn btn-primary" @click="buildSchema('build_preview')">
								Preview Schema Only
							</button>
							<!-- <div class="btn-group-sm" role="group" aria-label="Schema Actions"> -->
								<button id="package_actions" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Schema Actions
								</button>
								<div class="dropdown-menu" aria-labelledby="package_actions">
									<a class="dropdown-item" href="#"  @click="buildSchema('write_schema')">
										Update Main Schema XML Only (mything.mysql.schema.xml)
									</a>
									<a class="dropdown-item" href="#"  @click="buildSchema('build_skip')">
										Update Schema Files & Build (Skip existing, Create missing tables & Columns)
									</a>
									<a class="dropdown-item" href="#"  @click="buildSchema('build_delete')">
										Delete & Regenerate Schema Files
									</a>
									<a class="dropdown-item" href="#"  @click="buildSchema('build_delete_drop')">
										Rebuild All (Delete Schema Files, Drop All Tables, Recreate)
									</a>
								</div>
							<!-- </div> -->
						</div>

						<div class="form-group">
							<label for="core_path">Full Calculated Core Path</label>
							<input type="text" class="form-control" id="core_path" v-model="schema.core_path" disabled />
						</div>
						<div class="form-group">
							<label for="assets_path">Full Calculated Assets Path</label>
							<input type="text" class="form-control" id="assets_path" v-model="schema.assets_path" disabled />
						</div>

						<div class="form-group">
							<label for="xml_preview">XML Schema Preview</label>
							<textarea class="form-control" id="xml_preview" v-model="schema.xml" rows="15" disabled></textarea>
						</div>

						<div class="form-group">
							<label for="schema_messages">Build Log Messages</label>
							<textarea class="form-control" id="schema_messages" v-model="schema.messages" rows="15" disabled></textarea>
						</div>
					</div>
                </div>
                <!-- End grvPackage -->
                
                <!-- Start grvObject -->
                <div v-if="model == 'grvObject'">
                    <div class="list-mode" v-if="view == 'table'">

                        <table class="table table-striped">

                            <thead>
                                <tr class="table-secondary">
                                    <th>ID</th>
                                    <th>Class</th>
                                    <th>Table Name</th>
                                    <th>Extends</th>
                                    <th>Sort Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="items.length === 0 && dataLoaded">
                                    <td colspan="99">
                                        Add a new Object/Custom Table Entry
                                    </td>
                                </tr>
                                <tr style="cursor: pointer;" v-for="item in sortedItems" 
                                    @click="navigate('update', 'grvObject', item)">
									<td v-for="key in objectMeta[model].listColumns">
										{{ item[key] }}
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-mode" v-if="view == 'form'">
                        <form style="max-width: 1000px;">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="object_class">Class (Ex: myObject, modUser)</label>
                                    <input type="text" class="form-control" id="object_class"
                                           placeholder="Table class name"
                                           v-model="object.class">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="table_name">Table Name (Ex: my_objects)</label>
                                    <input type="text" class="form-control" id="table_name" 
                                           placeholder="Lowercase table name"
                                           v-model="object.table_name">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="extends">Extends Object</label>
                                    <input type="text" class="form-control" id="extends"
                                           v-model="object.extends">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="sortorder">Sort Order</label>
                                    <input type="text" class="form-control"
                                           v-model="object.sortorder">
                                </div>
                            </div>
                            
                            <div class="form-row form-group">
                                <label for="raw_xml">Raw XML (Manual additions for rules, etc.)</label>
								<textarea class="form-control" id="raw_xml" 
									v-model="object.raw_xml" rows="5"></textarea>
                            </div>

                        </form>

						<button class="btn btn-primary" @click='saveModel()'>
							Save
						</button>
						<button class="btn btn-default border" @click='saveModel(true)'>
							Save &amp; Back to List
						</button>
						<button class="btn btn-warning" @click="navigate('list', model)">
							Cancel
						</button>
						<button class="btn btn-danger float-right" @click="deleteRecord()">
                            DELETE
                        </button>

                    </div>
                </div>
                <!-- End grvObject -->
                
                <!-- Start grvField -->
                <div v-if="model == 'grvField'">
                    <div class="list-mode" v-if="view == 'table'">

                        <table class="table table-striped">

                            <thead>
                                <tr class="table-secondary">
                                    <th>ID</th>
                                    <th>Field Name</th>
                                    <th>DB Type</th>
                                    <th>Precision</th>
                                    <th>PHP Type</th>
                                    <th>Allow Null</th>
									<th>Default Value</th>
									<th>Index</th>
                                    <th>Sort Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="items.length === 0 && dataLoaded">
                                    <td colspan="99">
                                        Add a new Field Entry
                                    </td>
                                </tr>
                                <tr style="cursor: pointer;" v-for="item in sortedItems" 
                                    @click="navigate('update', 'grvField', item)">
									<td v-for="key in objectMeta[model].listColumns">
										{{ item[key] }}
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-mode" v-if="view == 'form'">
						<form style="max-width: 1000px;">
							
							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="quick_select">Quick Select (Populate common values)</label>
									<select class="form-control" id="quick_select" 
										v-model="fieldOptions"
										@change="setQuickSelectValues(fieldOptions)">
										<option value="">-- Quick Select --</option>
										<option v-for="(option, index) in objectMeta.grvField.quickSelect"
											:value="option">{{ option.label }}</option>
									</select>
								</div>
							</div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="column_name">Field Name</label>
                                    <input type="text" class="form-control" id="column_name"
                                           placeholder="Lowercase column name"
                                           v-model="field.column_name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="dbtype">DB Type</label>
                                    <input type="text" class="form-control" id="dbtype" 
                                           placeholder="Database type"
                                           v-model="field.dbtype">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="precision">Precision</label>
                                    <input type="text" class="form-control" id="precision"
                                           v-model="field.precision">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="phptype">PHP Type</label>
                                    <input type="text" class="form-control" id="phptype"
                                           v-model="field.phptype">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="allownull">Allow Null</label>
                                    <select class="form-control" id="allownull" v-model="field.allownull">
										<option value="true">true</option>
										<option value="false">false</option>
									</select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="default">Default Value</label>
                                    <input type="text" class="form-control" id="default"
                                           v-model="field.default">
                                </div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="attributes">Attributes (ex: unsigned)</label>
									<input type="text" class="form-control" id="attributes"
											v-model="field.attributes">
								</div>
								<div class="form-group col-md-6">
                                    <label for="index">Index</label>
                                    <select type="text" class="form-control" id="index"
										v-model="field.index">
										<option value="">-- None --</option>
										<option value="BTREE">BTREE</option>
										<option value="FULLTEXT">FULLTEXT</option>
									</select>
                                </div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="sortorder">Sort Order</label>
									<input type="text" class="form-control"
										v-model="field.sortorder">
								</div>
							</div>

                        </form>

                        <button class="btn btn-primary" @click='saveModel()'>
                            Save
                        </button>
                        <button class="btn btn-default border" @click='saveModel(true)'>
                            Save &amp; Back to List
                        </button>
                        <button class="btn btn-warning" @click="navigate('list', model)">
                            Cancel
						</button>
						<button class="btn btn-danger float-right" @click="deleteRecord()">
                            DELETE
                        </button>

                    </div>
				</div><!-- End grvField -->
				
				<!-- Start grvRel -->
                <div v-if="model == 'grvRel'">
                    <div class="list-mode" v-if="view == 'table'">

                        <table class="table table-striped">

                            <thead>
                                <tr class="table-secondary">
									<th>ID</th>
									<th>Type</th>
                                    <th>Alias</th>
                                    <th>Class</th>
                                    <th>Local</th>
                                    <th>Foreign</th>
                                    <th>Cardinality</th>
									<th>Owner</th>
									<th>Sort Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="items.length === 0 && dataLoaded">
                                    <td colspan="99">
                                        Add a new Relationship
                                    </td>
                                </tr>
                                <tr style="cursor: pointer;" v-for="item in sortedItems" 
                                    @click="navigate('update', 'grvRel', item)">
									<td v-for="key in objectMeta[model].listColumns">
										{{ item[key] }}
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-mode" v-if="view == 'form'">
						<form style="max-width: 1000px;">

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="relation_type">Relationship Type</label>
									<select type="text" class="form-control" id="relation_type"
										@click="setDefaultRelationValues()"
										v-model="rel.relation_type">
										<option value="composite">Composite (One to Many)</option>
										<option value="aggregate">Aggregate (Many to One)</option>
									</select>
								</div>
							</div>
							
							<div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="alias">Relationship Alias (Ex: getMany('Users'), getOne('User'))</label>
                                    <input type="text" class="form-control" id="alias"
                                           placeholder="Relationship alias, ex: User(s)"
                                           v-model="rel.alias">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="class">Class (Ex: modUser)</label>
                                    <input type="text" class="form-control" id="class" 
                                           placeholder=""
                                           v-model="rel.class">
                                </div>
							</div>
							
							<div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="local">Local Field (Lowercase field name: )</label>
                                    <input type="text" class="form-control" id="local"
                                           placeholder=""
                                           v-model="rel.local">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="foreign">Foreign (Field storing the foreign key)</label>
                                    <input type="text" class="form-control" id="foreign" 
                                           placeholder=""
                                           v-model="rel.foreign">
                                </div>
							</div>
							
							<div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="cardinality">Cardinality</label>
                                    <input type="text" class="form-control" id="cardinality"
                                           placeholder=""
                                           v-model="rel.cardinality">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="owner">Owner</label>
                                    <input type="text" class="form-control" id="owner" 
                                           placeholder=""
                                           v-model="rel.owner">
                                </div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="relsortorder">Sort Order</label>
									<input type="text" class="form-control" id="relsortorder"
										v-model="rel.sortorder">
								</div>
							</div>

                        </form>

                        <button class="btn btn-primary" @click='saveModel()'>
                            Save
                        </button>
                        <button class="btn btn-default border" @click='saveModel(true)'>
                            Save &amp; Back to List
                        </button>
                        <button class="btn btn-warning" @click="navigate('list', model)">
                            Cancel
						</button>
						<button class="btn btn-danger float-right" @click="deleteRecord()">
                            DELETE
                        </button>

                    </div>
                </div><!-- End grvRel -->

            </div> <!-- End main panel wrap -->

		</div> <!-- End container-fluid -->

		<!-- Modals -->
		<div class="modal fade" id="import_schema_modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Import a Schema</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						
						<form>

							<div class="form-group">
								<label for="schema-path">
									Schema File Path (From MODX Base, ex: /mything/model/schema/mything.mysql.schema.xml)
								</label>
								<input type="text" class="form-control" id="schema-path"
									v-model="schema.path">
							</div>

							<hr>
							<h3 style="text-align:center;">-- OR --</h3>
							<hr>

							<div class="form-group">
								<label for="schema-xml">Paste an XML Schema</label>
								<textarea type="text" class="form-control" id="schema-xml"
									v-model="schema.xml" rows="20"></textarea>
							</div>

						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							@click.prevent="runImportSchema()">Import the Schema</button>
						<button type="button" class="btn btn-secondary" 
							class="close" data-dismiss="modal" aria-label="Close">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="delete_package_modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Warning: Confirm Package Deletion</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						
						<p><strong>Be aware: </strong> Deleting a package also takes the following actions</p>
						<ol>
							<li>Deletes all component files</li>
							<li>Deletes all database tables</li>
							<li>Removes the namespace</li>
						</ol>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger"
							@click.prevent="deleteRecord()">Continue with Delete</button>
						<button type="button" class="btn btn-primary" class="close" 
							data-dismiss="modal" aria-label="Close">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modals -->

	</div> <!-- End App -->
    
	<script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="js/lodash-4.17.15.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        $(function() {
            // Check if we're running from the manager as an iframe
            if (parent !== self) {
                var scriptEl = document.createElement('script');
                scriptEl.text = parent.window.document.getElementById('appconfigjs').innerText;
				$('body').append(scriptEl);
            }
            else {
                // Load the resources remotely for development
                $.get("/app.html", function(data){
					$(data).appendTo('body');
                });
			}
		});
	</script>
</body>
</html>