<!doctype html>
<html lang="en">
<head>
    <title>Package Manager and Custom Tables</title>
    <meta charset="[[++modx_charset]]" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
    <link rel="stylesheet" href="css/bootstrap-4.5.0.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
    
    <div v-cloak id="app">
        <div class="alerts-wrapper">
            <transition-group name="slide-fade">
                <div v-for="(alert, index) in alerts" class="alert" :class="'alert-' + alert.type"
                     :key="alert.id" role="alert">
                    <span v-html="alert.message"></span>
                    <button type="button" class="close" aria-label="Close" @click="removeAlert(index)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </transition-group>
        </div>

        <div id="modx-action-buttons">

			<button type="button" class="btn btn-md"
				:class="{'btn-light': form != 'listTransport', 
						'btn-primary': form == 'listTransport', border: form != 'listTransport'}" 
				@click="navigate('list', 'ebTransport')"
				v-show="form !== 'listTransport'">
                Back to Transports
			</button>
			
			<button type="button" class="btn btn-md btn-primary"
				v-if="transportSelected"
				@click="buildTransport(false)">
                Build Transport Package!
			</button>

			<button id="transport_utils" type="button" class="btn btn-secondary dropdown-toggle" 
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-if="transportSelected">
				Transport Utilities
			</button>
			<div class="dropdown-menu" aria-labelledby="transport_utils">
				<a class="dropdown-item" href="#"  onclick="$('#new_resolver_modal').modal('show');" @click="resolverName = ''">
					Create New PHP Resolver (Run a srcript on Install/Update/Uninstall)
				</a>
				<a class="dropdown-item" href="#" @click="addTablesResolver()">
					Add "Create Tables" Resolver (Creates/Updates Tables on Install/Update)
				</a>
				<a class="dropdown-item" href="#" @click="addRemoveTablesResolver()">
					Add "Remove Tables" Resolver (Drop Tables on Uninstall)
				</a>
				<a class="dropdown-item" href="#"  @click="buildTransport(true)">
					Backup All Elements (Create a backup in your _build/ for source control)
				</a>
			</div>

			<button type="button" class="btn btn-md btn-primary"
				v-if="!transportSelected"
				@click="navigate('create', 'ebTransport')">
                Create Transport Entry
			</button>

        </div>

        <div class="container-fluid" style="margin-top: 26px;">

            <h2 style="padding-left: 5px; padding-bottom: 8px;">
               {{ title }}
            </h2>

            <ul class="nav nav-tabs">

				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='listTransport'}"
						@click="navigate('list', 'ebTransport')">
						Transport Definitions
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#"
						:class="{active: form=='updateTransport' || form=='createTransport'}"
						v-show="transportSelected || form=='updateTransport' || form=='createTransport'"
						@click="navigate('update', 'ebTransport')">
						{{ transportTabLabel }}
					</a>
				</li>

            </ul>
            <div class="panel-wrapper shadow-sm">

				<div class="list-mode" v-if="view=='table' && form=='listTransport'">
					<table class="table table-striped">

						<thead>
							<tr class="table-secondary">
								<th>ID</th>
								<th>Package Display</th>
								<th>Package key</th>
								<th>Category</th>
								<th>Sort Order</th>
							</tr>
						</thead>
						<tbody>
							<tr v-if="items.length === 0 && dataLoaded">
								<td colspan="99">
									Add a new Transport Entry
								</td>
							</tr>
							<tr style="cursor: pointer;" v-for="item in sortedItems" 
								@click="navigate('update', 'ebTransport', item)">
								<td v-for="key in meta[model].listColumns">
									{{ item[key] }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="form-wrapper" v-if="view=='form' && form=='updateTransport' || form=='createTransport'">
					<div class="modx-panel-desc">
						<p>
							This transport feature is "Category" based. All Elements are packaged based on the "Main Category" selected.
							<br/>Currently only one Category is supported. It will not work with child categories or multiple categories.
						</p>
					</div>
					
					<form id="transport-form" ref="transportForm" class="max-1200"
					:class="{'was-validated': formErrors, 'needs-validation': !formErrors}">

						<div class="form-row">
							<div class="form-group col-md-6">
								<span class="required">* </span>
								<label for="package_id">Pick a Defined Package</label>
								<select type="text" class="form-control" id="package_id" 
									v-model="transport.package" required>
									<option value="0" selected>-- Select a Package --</option>
									<option v-for="package in packages" :value="package.id">{{ package.display }}</option>
								</select>
								<div class="invalid-feedback">
									This field is required
								</div>
							</div>

							<div class="form-group col-md-6">
								<span class="required">* </span>
								<label for="category_id">Select a Main Category</label>
								<select type="text" class="form-control" id="category_id" 
									v-model="transport.category" aria-describedby="categoryHelpBlock" required>
									<option value="" selected>-- Select a Category --</option>
									<option v-for="cat in categories" :value="cat.category">{{ cat.category }}</option>
								</select>
								<div class="invalid-feedback">
									This field is required
								</div>
								<small id="categoryHelpBlock" class="form-text text-muted">
									<strong>NOTE: </strong>If you do not already have a main Category for this package, go create one first.
									<br/><u>ALL Direct Child Elements</u> this category will be packaged. (Does not support child categories)
								</small>
							</div>
						</div>

						<hr/>
						<h5>Version and Release</h5>
						<div class="form-row">
							<div class="form-group col-md-2">
								<span class="required">* </span>
								<label for="version">Major <span class="text-muted">(1.*.*)</span></label>
								<input type="text" class="form-control" id="version"
									v-model="transport.major" required>
								<div class="invalid-feedback">
									This field is required
								</div>
							</div>
							<div class="form-group col-md-2">
								<span class="required">* </span>
								<label for="version">Minor <span class="text-muted">(*.1.*)</span></label>
								<input type="text" class="form-control" id="version"
									v-model="transport.minor" required>
								<div class="invalid-feedback">
									This field is required
								</div>
							</div>
							<div class="form-group col-md-2">
								<span class="required">* </span>
								<label for="version">Patch <span class="text-muted">(*.*.1)</span></label>
								<input type="text" class="form-control" id="version"
									v-model="transport.patch" required>
								<div class="invalid-feedback">
									This field is required
								</div>
							</div>

							<div class="form-group col-md-4">
								<span class="required">* </span>
								<label for="release">Release <span class="text-muted">(alpha, beta, rc, pl, dev)</span></label>
								<select type="text" class="form-control" id="release" aria-describedby="releaseHelpBlock"
									v-model="transport.release" required>
									<option value="" selected>-- Select --</option>
									<option value="pl" selected>pl</option>
									<option value="rc" selected>rc</option>
									<option value="alpha" selected>alpha</option>
									<option value="beta" selected>beta</option>
									<option value="dev" selected>dev</option>
								</select>
								<div class="invalid-feedback">
									This field is required
								</div>
								<small id="releaseHelpBlock" class="form-text text-muted">
									MODX uses PHP-standardized version number strings:<br>
									<a href="https://www.php.net/manual/en/function.version-compare.php">Read more here</a>
									<ul>
										<li><strong>rc: </strong>Release Candidate</li>
										<li><strong>pl: </strong>Public Launch</li>
										<li><strong>beta: </strong>Beta</li>
										<li><strong>alpha: </strong>Alpha</li>
										<li><strong>dev: </strong>Dev</li>
									</ul>
								</small>
							</div>

							<div class="form-group col-md-2">
								<label for="release_index">Release Index</label>
								<input type="number" class="form-control" id="release_index"
									v-model="transport.release_index" min="0">
							</div>
						</div>

						<button class="btn btn-primary" @click.prevent='saveModel()'>
							Save
						</button>
						<button class="btn btn-default border" @click.prevent='saveModel(true)'>
							Save &amp; Back to List
						</button>
						<button class="btn btn-warning border" @click.prevent="navigate('list','ebTransport')">
							Cancel
						</button>
						<button class="btn btn-danger float-right" @click.prevent="deleteModel()">
							DELETE
						</button>
					</form>
				</div>

            </div> <!-- End main panel wrap -->

		</div> <!-- End container-fluid -->
		
		<!-- Modals and other HTML here -->
		<div class="modal fade" id="new_resolver_modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Enter A Filename</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="resolver-form" ref="resolverForm"
						:class="{'was-validated': resolverErrors, 'needs-validation': !resolverErrors}">
							<div class="form-group">
								<span class="required">* </span>
								<label for="version">Filename <span class="text-muted">(Excluding '.php')</span></label>
								<input type="text" class="form-control" id="version"
									v-model="resolverName" required>
								<div class="invalid-feedback">
									This field is required
								</div>
							</div>
						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							@click.prevent="createResolver(resolverName)">Create Resolver Template</button>
						<button type="button" class="btn btn-primary" class="close" 
							data-dismiss="modal" aria-label="Close">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- End App -->
    
	<script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap-4.5.3.bundle.min.js"></script>
    <script src="js/lodash-4.17.15.min.js"></script>
    <script src="js/vuejs-2.6.12.min.js"></script>
    <script>
        $(function() {
            // Check if we're running from the manager as an iframe
            if (parent !== self) {
                var scriptEl = document.createElement('script');
                scriptEl.text = parent.window.document.getElementById('transportjs').innerText;
				$('body').append(scriptEl);
            }
            else {
                // Load the resources remotely for development
                $.get("/extrabuilder.html", {type: 'transport'}, function(data){
					$(data).appendTo('body');
                });
			}
		});
    </script>
</body>
</html>